
.header-containe{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: rgb(29, 29, 61);
}
.header-containe ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

.header-containe ul li a{
    text-decoration:  none;
    color: white;
    border: 1px solid gray ;
    padding: 7px 20px;
    background-color: teal;
    border-radius: 10px;
    
}
#name{
    color: brown;
}